!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*$py.class
**/.idea/dataSources.ids
**/.idea/dataSources.local.xml
**/.idea/dataSources.xml
**/.idea/dictionaries
**/.idea/dynamic.xml
**/.idea/jsLibraryMappings.xml
**/.idea/sqlDataSources.xml
**/.idea/tasks.xml
**/.idea/uiDesigner.xml
**/.idea/vcs.xml
**/.idea/workspace.xml
**/__pycache__/*.pyc
**/staticfiles/
*.code-workspace
*.cover
*.egg
*.egg-info/
*.gz
*.iml
*.iws
*.log
*.manifest
*.mo
*.pot
*.cover
*.py[cod]
*.pyc
*.rar
*.sage.py
*.so
*.spec
*.sqlite
*.zip
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*/__pycache__/*.pyc
*/staticfiles/
.anvil/*
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.elasticbeanstalk/*
.env
.env-mysql
.history
.hypothesis/
.idea/
.idea/*
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/*.iml
.idea/caches/build_file_checksums.ser
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/httpRequests
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/modules
.idea/modules.xml
.idea/mongoSettings.xml
.idea/replstate.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.mr.developer.cfg
.mypy_cache/
.nox/
.prof
.project
.pybuilder/
.pydevproject
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox
.vagrant/
.venv
.vscode/
.webassets-cache
/bin
/include
/lib
/out/
/site
/src
/static
__pycache__
__pycache__/
__pypackages__/
atlassian-ide-plugin.xml
bin
build
build/
celerybeat.pid
celerybeat-schedule
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage.xml
crashlytics.properties
crashlytics-build.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
downloads/
eggs
eggs/
env.bak/
env/
ENV/
fabric.properties
flaskos/
htmlcov/
instance/
ipython_config.py
lib
lib/
lib64
lib64/
local_settings.py
MANIFEST
media
myvenv
node_modules
node_modules/
nosetests.xml
parts
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
projects/static/
pytestdebug.log
pythonenv*
sdist
sdist/
secret_key.txt
share/python-wheels/
static/build/
static/local/
static/media
static/rev-manifest.json
staticfiles/
target/
tdd
temp/
Thumbs.db
tmp/
uploads/
var
var/
venv
venv.bak/
venv/
wheels/
.gitignore
Makefile
